<div class="connexion">
  <div class="connexion__intro">
    <h1 class="text-3xl font-bold text-center text-gray-900 dark:text-white">
      Changez votre mot de passe
    </h1>
    <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
      Est-ce que c'est bien vous ?
    </p>
  </div>

  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="connexion__form">
    <!-- Email -->
    <div class="connexion__form-field">
      <label for="email" class="connexion__form-field--label"
        >Adresse email <span class="connexion__form-field--star">*</span></label
      >
      <input
        id="email"
        type="email"
        formControlName="email"
        class="connexion__form-field--input"
        [readonly]="secretQuestion()"
        [class.border-red-500]="isFieldInvalid('email')"
      />
      @if (isFieldInvalid('email')) {
        <p class="connexion__form-field--error">
          {{ getFieldError('email') }}
        </p>
      }
    </div>

    <!-- Bouton pour valider l'email -->
    @if (!secretQuestion()) {
      <div>
        <button
          type="button"
          (click)="fetchSecretQuestion()"
          [disabled]="forgetPasswordForm.get('email')?.invalid || loading()"
          class="connexion__form-submit"
        >
          @if (loading()) {
            Vérification de l'email...
          } @else {
            Vérifier mon email
          }
        </button>
      </div>
    }

    <!-- Affiche seulement si une question est trouvée -->
    @if (secretQuestion()) {
      <!-- Secret Answer -->
      <div class="connexion__form-field">
        <label for="secretAnswer" class="connexion__form-field--label">
          {{ secretQuestion() }} <span class="connexion__form-field--star">*</span>
        </label>
        <input
          id="secretAnswer"
          type="text"
          formControlName="secretAnswer"
          class="connexion__form-field--input"
          [class.border-red-500]="isFieldInvalid('secretAnswer')"
        />
        @if (isFieldInvalid('secretAnswer')) {
          <p class="connexion__form-field--error">
            {{ getFieldError('secretAnswer') }}
          </p>
        }
      </div>

      <!-- Password -->
      <div class="connexion__form-field">
        <label for="password" class="connexion__form-field--label">
          Mot de passe <span class="connexion__form-field--star">*</span>
        </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="connexion__form-field--input"
          [class.border-red-500]="isFieldInvalid('password')"
        />
        @if (isFieldInvalid('password')) {
          <p class="connexion__form-field--error">
            {{ getFieldError('password') }}
          </p>
        }
      </div>

      <!-- Confirm Password -->
      <div class="connexion__form-field">
        <label for="confirmPassword" class="connexion__form-field--label">
          Confirmer le mot de passe <span class="connexion__form-field--star">*</span>
        </label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          class="connexion__form-field--input"
          [class.border-red-500]="isFieldInvalid('confirmPassword')"
        />
        @if (isFieldInvalid('confirmPassword')) {
          <p class="connexion__form-field--error">
            {{ getFieldError('confirmPassword') }}
          </p>
        }
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          [disabled]="forgetPasswordForm.invalid || loading()"
          class="connexion__form-submit"
        >
          @if (loading()) {
            Vérification de la réponse secrète...
          } @else {
            Changer mon mot de passe
          }
        </button>
      </div>
    }

    <!-- Error Message -->
    @if (error()) {
      <p class="connexion__form-field--error text-center">{{ error() }}</p>
    }
  </form>
</div>
