<main class="flex-grow">
  <section class="py-20 md:py-32 bg-white dark:bg-background-dark/50">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid md:grid-cols-2 gap-12 items-center">
        <div class="text-center md:text-left">
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-gray-900 dark:text-white">
            Échangez et complétez votre collection de cartes
            <span class="text-primary">Weward</span>.
          </h1>
          <p class="mt-6 text-lg text-gray-600 dark:text-gray-300">
            Rejoignez une communauté de passionnés pour découvrir, échanger et compléter vos
            collections de cartes Weward. Consultez les collections des autres membres et proposez
            des échanges pour obtenir les cartes qui vous manquent.
          </p>
          <div class="mt-8 flex justify-center md:justify-start gap-4">
            <a
              routerLink="/auth/register"
              class="cursor-pointer inline-block px-8 py-3 bg-primary text-white rounded-lg text-lg font-semibold hover:bg-primary/90 transition-shadow shadow-lg shadow-primary/20"
            >
              S'inscrire maintenant
            </a>
            <a
              routerLink="/collection/explore"
              class="cursor-pointer inline-block px-8 py-3 bg-gray-200 text-gray-800 rounded-lg text-lg font-semibold hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 transition-colors"
            >
              Voir les collections
            </a>
          </div>
        </div>
        <div class="relative">
          <div class="grid grid-cols-3 gap-4 transform -rotate-3">
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuBTqh_ufrZgyqOTbRcEOMGDRpMdheLL2DO1O179nCax8eW9EolDFtKrQVMbDCIpXl22lGIN437qb-VfGWxmqEDjTd1-3sT8sbM00q-6X_BkON7awPMQQUor7CUZwx9fe2nIBDjsSQkOyaH-PPohT7JtR1XO6OeHnzd3esq_uXGhyv7Gv8Fs3gew_wbHEmz3PctrcBBhVZuQ94olYldGYt1hBufJQrFo8yTioV2isjcc4-A09YKK2wU2p8evd8CuJO7OjkQZlMbyzeA"
              />
            </div>
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform mt-8"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuA6EzxpDZOdlnKxakjWJB-qEFdspFLtok8MjVoF5TjNqel0eeqzViVYtL0T4N-fmq4vmLvBveHA-ZSafU3iBY74ky9YRQDvHS1RIKE0-MbcjcP02Ce-AsPRsdVpU2SqG1K5XgEoQRVBFI6m6CVNDo8DNOuSYuoNywXLF4rzqdO9VIw8XR2oE3l7xdIb4nHqzqKNSfue29ZmEGGH-QR89LRABxkL55plcK1mFwITOLIX-7BIgaWnVJgrch8vNFSD65JSN0YbFdNwMug"
              />
            </div>
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuDTrqMq7oiwjWt5qqwicIhDOc08THN1DdIj2DphION6MlNJKI9kuv_POYv9kOP5R9YRSxW66kMb4ZVy5fSSCTPtAIRricZ98-sN2Zp_wVA0igT8GHcwuI9dFm_96mp-dih3zHEBZS9fDtoYrps3Xmk0-exqV_TZ8-W9iAsSAkJ3TVCi5O9a0ngUQu-Wg_f_0lCGHNRO3rQn3ayNRkkqN7O6chUkvHK5J_Si3ojPM2os7Bm0YpwzbXC5EFgnwinTwqCxEIHxEu_WOV8"
              />
            </div>
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform -mt-4"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuCcCrD8h9aDk1pqU6uj1fvXkBdRzJi-cmTJ-Os7iS0eYcJrx1PrxLX8oXYHhLNwPEAjD-F4IOXNyAj9OY230n5xdSfJEvASOercmpnLPHWNtFpzlreQ5plBVXKnRv5P8eIA2MgEK5F7Z9Hkb_jMeOpLEVK16N3zIm6KgxXaRYv7BzB13cAFq6qdXa6NLsalPRnqDqy_I3SslUCW7mGsMF0TC3awtB2_IIcWb235Mh5Kxcc7yZaqWV4UTZIAsoo4CoiRCgArmzru9G0"
              />
            </div>
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform mt-4"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuAErFo9ankkbn2f2RkRgjSGJIWqUYT56lkGlaM-wOTmLilRJxlQ7TyojJyl2AoqIImjbhO3IKwTiYKcBUsVj8zCG2FbGpW1U7D7yWreSdNnx_-sqpJWF_jFcn67l55JiAd42mT4RtqWtmZdp2tItovLtZDq0qZ9e2Xb6ANFpRe_8so_7OPsOnDsfoIT9YbZYmCqW-41r6VrKI8iH2vtk3dAlbF0l9xnZQhZRJJWuRx3dgi9DQhxO6nwM7pq8m1l8PfazR-4bTgvLv4"
              />
            </div>
            <div
              class="w-full h-48 bg-gray-200 dark:bg-gray-700 rounded-lg flex items-center justify-center transform hover:scale-105 transition-transform -mt-8"
            >
              <img
                alt="Carte Weward"
                class="w-full h-full object-cover rounded-lg shadow-lg"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuDOhcBq4WjBtllqij5R3Paqj4_FqSeI-QhrCQ692FMYu1R7KbOaXMikIJ_NZCqZHed4ai22D3g_LgBgmQBUw9RE7nDjn3PTM6uiw4a5-66CCXXblloyyMjn0417fXBx5Sx0ZwZjxnT9544PqNKWt6wR7M8lyuTjgPkYyoWNXgCid6CuX1JdXKtLaDrQ-_AbK-DXkCsTKLLpy-C0LPIYA4gpM-LhXzByQvxuQbv1Rrm1wWQMw_0AoRisM_cFYeYjCODuFAlYJLUb40M"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20 md:py-32">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white">
          Comment ça marche ?
        </h2>
        <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-600 dark:text-gray-300">
          Compléter votre collection n'a jamais été aussi simple. Suivez ces trois étapes faciles.
        </p>
      </div>
      <div class="mt-16 grid md:grid-cols-3 gap-12 text-center">
        <div class="flex flex-col items-center">
          <div
            class="flex items-center justify-center h-20 w-20 rounded-full bg-primary/10 text-primary"
          >
            <span class="material-symbols-outlined text-4xl">
              <fa-icon [icon]="faUserPlus"></fa-icon>
            </span>
          </div>
          <h3 class="mt-6 text-xl font-bold text-gray-900 dark:text-white">
            1. Créez votre compte
          </h3>
          <p class="mt-2 text-gray-600 dark:text-gray-400">
            Inscrivez-vous gratuitement et ajoutez les cartes que vous possédez à votre collection
            en ligne.
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex items-center justify-center h-20 w-20 rounded-full bg-primary/10 text-primary"
          >
            <span class="material-symbols-outlined text-4xl">
              <fa-icon [icon]="faSearch"></fa-icon>
            </span>
          </div>
          <h3 class="mt-6 text-xl font-bold text-gray-900 dark:text-white">
            2. Trouvez des cartes
          </h3>
          <p class="mt-2 text-gray-600 dark:text-gray-400">
            Parcourez les collections des autres membres pour trouver les cartes qui vous manquent
            et voir ce qu'ils recherchent.
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex items-center justify-center h-20 w-20 rounded-full bg-primary/10 text-primary"
          >
            <span class="material-symbols-outlined text-4xl">
              <fa-icon [icon]="faRightLeft"></fa-icon>
            </span>
          </div>
          <h3 class="mt-6 text-xl font-bold text-gray-900 dark:text-white">
            3. Échangez en toute simplicité
          </h3>
          <p class="mt-2 text-gray-600 dark:text-gray-400">
            Proposez des échanges aux autres collectionneurs et négociez pour compléter vos séries.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary/5 dark:bg-primary/10 py-20 md:py-32">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white">
          Prêt à rejoindre la communauté ?
        </h2>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
          Créez votre compte dès aujourd'hui et commencez à échanger pour devenir le plus grand
          collectionneur Weward !
        </p>
        <div class="mt-8">
          <a
            routerLink="/auth/register"
            class="cursor-pointer inline-block px-10 py-4 bg-primary text-white rounded-lg text-xl font-semibold hover:bg-primary/90 transition-shadow shadow-xl shadow-primary/20"
          >
            Je m'inscris !
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
